.scroll-to-top {
  position: fixed;
  bottom: 1.3rem;
  right: 1rem;
  animation: fadeIn 1000ms ease-in-out 2s both;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
