.value-completed {
  text-decoration: line-through;
  color: green;
}

.completed {
  text-decoration: line-through;
  color: green;
}

.container {
  font-size: 20px;
}

.row-name-todo {
  padding: 0px;
}

ul {
  list-style-type: none;
}

.input-form {
  display: flex;
  /* background-color: red; */
}

.form-text-priority-todo {
  font-size: 1.3rem;
  text-align: center;
  border: 2px dashed #b2d9d0;
  border-radius: 10px;
  cursor: move;
  background-color: #dff2ef;

  transition: background-color 0.5s;
}

.group-btn {
  display: flex;
  flex-direction: column;
}

.btn-addTask {
  margin-bottom: 6px;
  margin-top: 6px;
}

.btn-clearAllTask {
  margin-bottom: 6px;
}

/* .checkbox {
  margin: 0px 13px;
  transform: scale(2);
  opacity: 0.9;
  cursor: pointer;
} */

.badge {
  margin-top: 20px;
  /* margin-left: 239px; */
}

/* change to tasks__item */
.list-group-item {
  background-color: #282c34;
  border: none;
  cursor: move;
}

/* drag and drop block  */
/* .selected {
  opacity: 0.6;
} */

/* .characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: 0.2em;
  padding: 0.5em 0.8em 0.5em 0.5em;
  margin-bottom: 1em;
} */
