.value-completed {
  text-decoration: line-through;
  color: green;
}

.container {
  font-size: 20px;
}

.row-name-todo {
  padding: 0px;
}

ul {
  list-style-type: none;
}

.input-form {
  display: flex;
  /* background-color: red; */
}

.group-btn {
  display: flex;
  flex-direction: column;
}

.btn-addTask {
  margin-bottom: 6px;
  margin-top: 6px;
}

.btn-clearAllTask {
  margin-bottom: 6px;
}

.checkbox {
  margin: 0px 20px;
}

.badge {
  margin-top: 20px;
  /* margin-left: 239px; */
}

.list-group-item {
  background-color: #282c34;
  border: none;
}
